.movies-list {
  display: flex;
  flex-direction: column;
}

.title {
  display: inline-block;
  text-align: center;
  font-size: 3rem;
  font-weight: 600;
}

ul {
  list-style: none;
}

.list-container {
  display: flex;
  flex-wrap: wrap;
}
