.movie {
  width: 232px;
  margin-right: 2.5rem;
  margin-bottom: 3rem;
  padding-bottom: 1.5rem;
  cursor: pointer;
  transition: transform 0.4s ease-in;
  background-color: #202020;
  color: #fff;
  font-weight: 500;
  border-radius: 3px;
}

.movie:hover {
  transform: scale(1.05);
}

.movie-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.movie-rating {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.5rem 0;
}

.movie-poster {
  width: 100%;
  transition: opacity 0.4s;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.movie-poster:hover {
  opacity: 0.7;
}

.star {
  width: 10%;
}

.mr-1 {
  margin-right: 1rem;
}

.movie-title {
  text-align: center;
  font-family: "Inter", sans-serif;
  padding: 0 1rem 1rem;
  transition: color 0.3s;
}

.movie-title:hover {
  color: #d62828;
}

.movie-date {
  font-size: 1rem;
  opacity: 0.7;
  padding: 0 1rem 1rem;
}

.btn-info {
  border: 1px solid #d90429;
  background-color: transparent;
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  padding: 1rem;
  margin: 0 1rem;
  transition: background-color 0.4s ease-in;
  border-radius: 4px;
  cursor: pointer;
}

.btn-info:hover {
  background-color: #d90429;
}
